xml-schemas/extensions/PUF-ExtensionComponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Module:            xsd/extension/PUF-ExtensionComponent.xsd
  Generated on:      2018-02-27 
  Copyright (c) Pagero Group. All Rights Reserved.
-->
<xsd:schema xmlns="urn:pagero:ExtensionComponent:1.0" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:ccts-cct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2" targetNamespace="urn:pagero:ExtensionComponent:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <!-- ===== Imports ===== -->
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="../common/UBL-CommonBasicComponents-2.3.xsd"/>
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="../common/UBL-CommonAggregateComponents-2.3.xsd"/>
    <xsd:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" schemaLocation="../common/BDNDR-UnqualifiedDataTypes-1.1.xsd"/>
    <!-- ===== Element Declarations ===== -->
    <xsd:element name="Amount" type="PUFAmountType"/>
    <xsd:element name="Amounts" type="PUFAmountsListType"/>
    <xsd:element name="Clarifications" type="PUFClarificationsListType"/>
    <xsd:element name="IDType" type="PUFIDType"/>
    <xsd:element name="Code" type="PUFCodeType"/>
    <xsd:element name="Key" type="PUFCodeType"/>
    <xsd:element name="Value" type="PUFTextType"/>
    <xsd:element name="ReferencedDocumentSentToClearanceDate" type="PUFDateType"/>
    <xsd:element name="AdditionalDocumentReference" type="cac:DocumentReferenceType"/>


    <xsd:element name="PageroExtension">
        <xsd:annotation>
            <xsd:documentation>This element is to be considered as the root element in the pagero
				extension</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ResponseExtension" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="RestrictedInformation" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="Key" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element ref="Value" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="ReferencedDocumentInterchangeID" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="AuthorityDeliveryDateTime" type="PUFDateType" minOccurs="0" maxOccurs="1"/>

                            <xsd:element name="DocumentMatchingID" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element ref="cbc:UUID" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="senderDocumentUUID" type="PUFIDType" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="receiverDocumentUUID" type="PUFIDType" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="ClearanceReferenceID" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="ClearanceQR" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="QRString" type="PUFTextType" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="ErrorClassificationCode" type="PUFTextType" minOccurs="0" maxOccurs="1"/>

                            <xsd:element name="ReferencedDocumentSentToClearanceDate" minOccurs="0" maxOccurs="1"/>

                            <xsd:element ref="AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <ccts:Component>
                                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                                            <ccts:DictionaryEntryName>Billing Reference. Additional_
												Document Reference. Document
												Reference</ccts:DictionaryEntryName>
                                            <ccts:Definition>A reference to an additional
												document.</ccts:Definition>
                                            <ccts:Cardinality>0..1</ccts:Cardinality>
                                            <ccts:ObjectClass>Billing Reference</ccts:ObjectClass>
                                            <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
                                            <ccts:PropertyTerm>Document
												Reference</ccts:PropertyTerm>
                                            <ccts:AssociatedObjectClass>Document
												Reference</ccts:AssociatedObjectClass>
                                            <ccts:RepresentationTerm>Document
												Reference</ccts:RepresentationTerm>
                                        </ccts:Component>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>

                            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="StatusExtension" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="Amounts" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Amounts relating to the status. This group can be repeated, for example to provide multiple VAT rates or different types of amounts (discounts, payments, etc.).
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element ref="Clarifications" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Clarifications relating to the status: characteristics of the referenced document that the status clarifies (e.g. an invalid value and its expected value, with the field's identifier, name, location and typed value). This group can be repeated.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <!--Types-->
    <xsd:complexType name="PUFCodeType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:CodeType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PUFIDType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:CodeType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PUFAmountType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:AmountType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PUFIndicatorType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:IndicatorType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PUFDateType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:DateTimeType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PUFTextType">
        <xsd:simpleContent>
            <xsd:extension base="ccts-cct:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- ===== Response Extension Amounts types ===== -->
    <xsd:complexType name="PUFAmountsListType">
        <xsd:sequence>
            <xsd:element name="Amount" type="PUFAmountEntryType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PUFAmountEntryType">
        <xsd:sequence>
            <xsd:element name="AmountType" type="PUFTextType" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="cbc:TaxExclusiveAmount" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="cbc:TaxInclusiveAmount" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ClassifiedTaxCategory" type="cac:TaxCategoryType" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="cbc:CurrencyCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Date" type="PUFDateType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Status Extension Clarifications types ===== -->
    <xsd:complexType name="PUFClarificationsListType">
        <xsd:sequence>
            <xsd:element name="Clarification" type="PUFClarificationEntryType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PUFClarificationEntryType">
        <xsd:sequence>
            <xsd:element name="Code" type="PUFIDType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Identifier of the field or object being clarified (e.g. an EN 16931 business term such as BT-152).</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="TypeCode" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Code qualifying the role of this clarification (e.g. an invalid value, an expected/valid value, a replacement value or a specific amount type). Code list is format/country-specific.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Human-readable name of the field or object.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Description related to the clarification.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="Location" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Location of the field within the referenced document, e.g. an XPath.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ChangedIndicator" type="PUFIndicatorType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Indicates whether the value of the field has changed.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="AdjustmentDirectionCode" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Code indicating the direction of an adjustment to the value.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as text. Use the value element matching the value's data type.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueCode" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a code.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueDate" type="PUFDateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a date.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueNumeric" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a number.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValuePercent" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a percentage.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueAmount" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a monetary amount.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueAmountCurrency" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Currency code of ValueAmount.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueQuantity" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a quantity.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueQuantityUnit" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Unit of measure code for ValueQuantity.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueMeasure" type="PUFTextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Value of the field expressed as a measure.</xsd:documentation></xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueMeasureUnit" type="PUFCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation><xsd:documentation>Unit of measure code for ValueMeasure.</xsd:documentation></xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
